/* Tipografía retro */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

input[type="text"],
input[type="number"] {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #f39c12;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

button {
  padding: 12px 24px;
  font-size: 14px;
  color: #fff;
  background-color: #38cacf;
  border: 2px solid #e84393;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #32a4a8;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

.add-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

#buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

/* Estilo para la caja de detalles */
.details-card {
  background-color: #2c2c2c;
  border: 3px solid #f39c12;
  border-radius: 12px;
  padding: 20px;
  margin: 30px;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Texto con efecto retro */
.details-card h2 {
  font-size: 22px;
  color: #f39c12;
  text-shadow: 2px 2px #e84393;
}

.details-card p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
